@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/index.js"></script>
}

<h1>Welcome to Admin Dashboard!</h1>
<button id="logout-button" class="btn btn-danger">Logout</button>