<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h1>Welcome to Admin Dashboard!</h1>
    <button id="logout-button">Logout</button>
    <script src="~/js/index.js"></script>
</body>
</html>