@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="~/js/login.js"></script>
}

<div class="login-container">
    <h2>Admin Login</h2>
    <form id="login-form">
        <input type="email" class="form-control" id="email" placeholder="Email" required /><br />
        <input type="password" class="form-control" id="password" placeholder="Password" required /><br />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div id="error-message" class="error"></div>
</div>